{% extends 'base.html' %}
{% load static %}


{% block body %}
<!-- MAIN BANNER -->
<section>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item">
      <img style="width: 1000px; height: 500px;" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 " aria-label="Placeholder: First slide"  src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/761873143299399.6279d209dd2b0.jpg" alt="">

    </div>
    <div class="carousel-item">
      <img style="width: 1000px; height: 500px;" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 " aria-label="Placeholder: First slide"  src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/761873143299399.6279d209dd2b0.jpg" alt="">

    </div>
    <div class="carousel-item active">
      <img style="width: 1000px; height: 500px;" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 " aria-label="Placeholder: First slide"  src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/761873143299399.6279d209dd2b0.jpg" alt="">

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</section>



<div class="py-5">
<div class="container">
<div class="row">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"> <a href="#">Home</a> </li>
      <li class="breadcrumb-item active">Link</li>
      <li class="breadcrumb-item active">Link</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-4"><img class="img-fluid d-block" src="https://shakit.co.kr/data/item/1655259991/thumb-7IOB7ZKI7I2464Sk7J28_7KCV7IKs6rCB7ZiV_7Iuc6re464uI7LKY7Yyo7YKk7KeA_332x332.jpg"></div>
  <div class="col-md-4"><img class="img-fluid d-block" src="https://shakit.co.kr/data/item/1655257344/thumb-7IOB7ZKI7I2464Sk7J28_7KCV7IKs6rCB7ZiV_7Iqk7JyE7Yq47Yyo7YKk7KeA_332x332.jpg"></div>
  <div class="col-md-4"><img class="img-fluid d-block" src="https://shakit.co.kr/data/item/1655253328/thumb-7IOB7ZKI7I2464Sk7J28_7KCV7IKs6rCB7ZiV_7Yq466Gc7ZS87Lus7Yyo7YKk7KeA_332x332.jpg"></div>
</div>
<div class="row">
  <div class="col-md-4">
    <h6 class="">Heading 6</h6>
    <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
    <h4 class="">Heading 4 <span class="badge badge-pill badge-warning">!</span></h4>
  </div>
  <div class="col-md-4">
    <div class="col-md-12">
      <h6 class="">Heading 6</h6>
      <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
      <h4 class="">Heading 4 <span class="badge badge-pill badge-warning">!</span></h4>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12">
      <h6 class="">Heading 6</h6>
      <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
      <h4 class="">Heading 4 <span class="badge badge-pill badge-warning">!</span></h4>
    </div>
  </div>
</div>
</div>
</div>
<div class="py-5">
<div class="container">
<div class="row">
  <div class="col-md-4"><img style="border-radius: 50%;"  class="img-fluid d-block" src="https://shakit.co.kr/data/item/1654584450/thumb-7IOB7ZKI7I2464Sk7J28_7KeE7KCA7JeQ7J28_332x332.jpg"></div>
  <div class="col-md-4"><img class="img-fluid d-block" src="https://shakit.co.kr/data/item/1654579111/thumb-7IOB7ZKI7I2464Sk7J28_7Ja86re466CI7J20_332x332.jpg"></div>
  <div class="col-md-4"><img class="img-fluid d-block" src="https://shakit.co.kr/data/item/1625548057/thumb-7IOB7ZKI7I2464Sk7J28_67O065Oc7Lm07Jik67iM6528642U7Iqk_332x332.jpg"></div>
</div>
<div class="row">
  <div class="col-md-4">
    <h6 class="">Heading 6</h6>
    <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
    <h4 class="">Heading 4 <span class="badge badge-pill badge-warning">!</span></h4>
  </div>
  <div class="col-md-4">
    <div class="col-md-12">
      <h6 class="">Heading 6</h6>
      <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
      <h4 class="">Heading 4 <span class="badge badge-pill badge-warning">!</span></h4>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12">
      <h6 class="">Heading 6</h6>
      <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
      <h4 class="">Heading 4 <span class="badge badge-pill badge-warning">!</span></h4>
    </div>
  </div>
</div>
</div>
</div>
<div class="py-5">
<div class="container">
<div class="row">
  <div class="col-md-4"><img class="img-fluid d-block" src="https://shakit.co.kr/data/item/1619145939/thumb-7IOB7ZKI7I2464Sk7J28_7ZS87LmY7YGs65s7Ims_332x332.jpg"></div>
  <div class="col-md-4"><img class="img-fluid d-block" src="https://shakit.co.kr/data/item/1602146821/thumb-7IOB7ZKI7I2464Sk7J28_7Jqw66i87J2467iU656Z_332x332.jpg"></div>
  <div class="col-md-4"><img class="img-fluid d-block" src="https://shakit.co.kr/data/item/1587028605/thumb-7IOB7ZKI7I2464Sk7J28_7YGs67CU7L2V_332x332.jpg"></div>
</div>
<div class="row">
  <div class="col-md-4">
    <h6 class="">Heading 6</h6>
    <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
    <h4 class="">Heading 4 <span class="badge badge-pill badge-warning">!</span></h4>
  </div>
  <div class="col-md-4">
    <div class="col-md-12">
      <h6 class="">Heading 6</h6>
      <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
      <h4 class="">Heading 4 <span class="badge badge-pill badge-warning">!</span></h4>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12">
      <h6 class="">Heading 6</h6>
      <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
      <h4 class="">Heading 4 <span class="badge badge-pill badge-warning">!</span></h4>
    </div>
  </div>
</div>
</div>
</div>
<div class="py-5">
<div class="container">
<div class="row">
  <div class="col-md-4"><img class="img-fluid d-block" src="https://shakit.co.kr/data/item/1619145939/thumb-7IOB7ZKI7I2464Sk7J28_7ZS87LmY7YGs65s7Ims_332x332.jpg"></div>
  <div class="col-md-4"><img class="img-fluid d-block" src="https://shakit.co.kr/data/item/1602146821/thumb-7IOB7ZKI7I2464Sk7J28_7Jqw66i87J2467iU656Z_332x332.jpg"></div>
  <div class="col-md-4"><img class="img-fluid d-block" src="https://shakit.co.kr/data/item/1587028605/thumb-7IOB7ZKI7I2464Sk7J28_7YGs67CU7L2V_332x332.jpg"></div>
</div>
<div class="row">
  <div class="col-md-4">
    <h6 class="">Heading 6</h6>
    <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
    <h4 class="">Heading 4 <span class="badge badge-pill badge-warning">!</span></h4>
  </div>
  <div class="col-md-4">
    <div class="col-md-12">
      <h6 class="">Heading 6</h6>
      <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
      <h4 class="">Heading 4 <span class="badge badge-pill badge-warning">!</span></h4>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12" >
      <h6 class="">Heading 6</h6>
      <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
      <h4 class="">Heading 4 <span class="badge badge-pill badge-warning">!</span></h4>
    </div>
  </div>
</div>
</div>
</div>
<div class="pt-5">
<div class="container">
<div class="row">
  <div class="col-md-4 mr-auto order-2 order-md-1"> <img class="img-fluid d-block" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/df1a3f109548545.609bda595e6b4.png"> </div>
  <div class="px-md-5 p-3 d-flex flex-column align-items-start justify-content-center col-md-7 order-1 order-md-2"> <i class="d-block fa fa-stop-circle fa-4x mb-3 text-muted"></i>
    <h1> Indescribable forms</h1>
    <p class="mb-3 lead">And yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface.</p>
    <div class="row text-muted">
      <div class="col-12 p-2"> <i class="d-inline fa fa-apple fa-3x"></i> <i class="d-inline fa fa-android fa-3x mx-4"></i> <i class="d-inline fa fa-windows fa-3x"></i> </div>
    </div>
  </div>
</div>
</div>
</div>


{% endblock body %}
    

 