{% extends 'base.html' %}
{% load static %}



{% block body %}

<!-- BEST 상품 -->
<div style="margin-top: 145px; background-color: #fff;" class="section service-section-1">
  
  <div class="container">
    <div style="margin-bottom: 30px;">
      <h2 class="fw-bolder">BEST 5 <br>
      <small style="font-size: 16px;" class="text-muted">Cheers에서 선택한 BEST5 위스키를 확인해보세요</small></h2>
    </div>
    <!-- 첫번째 -->
    <div class="row">
      <div class="col-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up"  data-aos-delay="100">
        <div class="service-1">
          <div class="text-center">
            <img style="width: 250px; height:300px;" src="http://www.kajawine.kr/data/item/1651198827/thumb-7ZWc7IKw7IaM6rOh7KO8_175x234.jpg" alt="Image" class="img-fluid">
          </div>
          <div>
            <h3 class="mt-4 text-center">한산 소곡주 명화</h3>
            <p class="text-center">대한민국</p>
            <div class="sct_cost text-center">
              <strike>180,000원</strike>
              <span class="amount">105,000원</span>
              </div>
          </div>
        </div>
      </div>
      <!-- 두번째 -->
      <div class="col-lg-9">
        <div class="row">
          <div class="col-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up"  data-aos-delay="100">
            <div class="service-1">
              <div class="text-center">
                <img style="width: 250px; height:300px;" src="http://www.kajawine.kr/data/item/1505039922/thumb-1505039922_l1_175x234.jpg" alt="Image" class="img-fluid">
              </div>
              <div>
                <h3 class="mt-4 text-center">천지향 복분자 스페셜</h3>
                <p class="text-center">대한민국</p>
                <div class="sct_cost text-center">
                  <strike>100,000원</strike>
                  <span class="amount">60,000원</span>
                  </div>
              </div>
            </div>
          </div>
          <!-- 세번째 -->
          <div class="col-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up"  data-aos-delay="100">
            <div class="service-1">
              <div class="text-center">
                <img style="width: 250px; height:300px;" src="http://www.kajawine.kr/data/item/1467331636/thumb-1467331636_l1_175x234.jpg" alt="Image" class="img-fluid">
              </div>
              <div>
                <h3 class="mt-4 text-center">화요 3종 세트</h3>
                <p class="text-center" >대한민국</p>
                <div class="sct_cost text-center">
                  <strike>68,000원</strike>
                  <span class="amount">45,000원</span>
                  </div>
              </div>
            </div>
          </div>
          <!-- 네번째 -->
          <div class="col-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up"  data-aos-delay="100">
            <div class="service-1">
              <div >
                <img style="width: 250px; height:300px;" src="http://www.kajawine.kr/data/item/1462597896/thumb-1462597896_l1_175x234.jpg" alt="Image" class="img-fluid">
              </div>
              <div class="text-center">
                <h3 class="mt-4 text-center">화요 53도</h3>
                <p class="text-center">대한민국</p>
                <div class="sct_cost text-center">
                  <strike>150,000원</strike>
                  <span class="amount">95,000원</span>
                  </div>
              </div>
            </div>
          </div>
          <!-- 다섯번째 -->
          <div class="col-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up"  data-aos-delay="100">
            <div class="service-1">
              <div >
                <img style="width: 250px; height:300px;" src="http://www.kajawine.kr/data/item/1453516309/thumb-67O167aE7J6Q7IS47Yq4_175x234.jpg" alt="Image" class="img-fluid">
              </div>
              <div>
                <h3 class="mt-4 text-center">천지향 복분자 백8호</h3>
                <p class="text-center">대한민국</p>
                <div class="sct_cost text-center">
                  <strike>70,000원</strike>
                  <span class="amount">49,000원</span>
                  </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>


<!-- 광고 -->
<div class="py-5" >
<div class="container">
  <div class="row">
    <div class="col">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/879b6e149409643.63319587718ae.jpg" class="d-block w-100" alt="홍보1">
          </div>
          <div class="carousel-item">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/e0abed149409643.63333941c70b6.jpg" class="d-block w-100" alt="홍보2">
          </div>
          <div class="carousel-item">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/440c94149409643.6331958772213.jpg" class="d-block w-100" alt="홍보3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden coloe">Next</span>
        </button>
      </div>
    </div>
    <div class="col">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div  class="carousel-item active">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/262f97155239733.6350abad5990a.jpg" class="d-block w-100" alt="...">
          </div>
          <div  class="carousel-item active">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/262f97155239733.6350abad5990a.jpg" class="d-block w-100" alt="...">
          </div>
          <div   class="carousel-item active">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/262f97155239733.6350abad5990a.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleFade" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleFade" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
</div>



<!-- title -->
<section style="margin-top: 80px;">
  <div class="container">
    <h2>
      <span>OUR PICK</span>
    </h2>
    <span class="sub_tit">Cheers팀에서 특별히 선정한 상품들을 만나보세요.</span>
    <pre></pre>
  </div>

<!-- card -->
<!-- 첫번째 줄 -->
<div class="py-5" >
  <div class="container">
    <div class="row">
      <div class="col">
        <div style="border-style: none;" class="card" >
          <figure style="width: 160px; height: 214px; margin-left: 70px;">
            <img  src="http://www.kajawine.kr/data/item/1617333298/thumb-6rCQ7ZmN66Gc_160x214.jpg" class="card-img-top d-flex justify-content-center" alt="...">
            <figcaption>
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title text-center">감홍로</h5>
            <div class="sct_cost text-center">
              <strike>66,000원</strike>
              <span class="amount">60,000원  </span>
            </div>
            <div style="display: flex; justify-content:center; margin-top: 20px;">
              <button  type="button" class="btn btn-lg">BUY</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="border-style: none;" class="card" >
          <figure style="width: 160px; height: 214px; margin-left: 70px;">
            <img  src="http://www.kajawine.kr/data/item/1425777045/thumb-1425777045_l1_160x214.jpg" class="card-img-top d-flex justify-content-center" alt="...">
            <figcaption>
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title text-center">화요 25도</h5>
            <div class="sct_cost text-center">
              <span class="amount">18,000원</span>
            </div>
            <div style="display: flex; justify-content:center; margin-top: 20px;">
              <a style="text-decoration:none;" href="{% url 'korea-detail' %}"><button type="button" class="btn btn-lg">BUY</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="border-style: none;" class="card" >
          <figure style="width: 160px; height: 214px; margin-left: 70px;">
            <img  src="http://www.kajawine.kr/data/item/1425776724/thumb-1425776724_l1_160x214.jpg" class="card-img-top d-flex justify-content-center" alt="...">
            <figcaption>
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title text-center">화요 17도</h5>
            <div class="sct_cost text-center">
              <strike>16,500원</strike>
              <span class="amount">15,000원 </span>
            </div>
            <div style="display: flex; justify-content:center; margin-top: 20px;">
              <button  type="button" class="btn btn-lg">BUY</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="border-style: none;" class="card" >
          <figure style="width: 160px; height: 214px; margin-left: 70px;">
            <img  src="http://www.kajawine.kr/data/item/1647745677/thumb-7ZmU7JqU25375_160x214.jpg" class="card-img-top d-flex justify-content-center" alt="...">
            <figcaption>
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title text-center">화요 23도</h5>
            <div class="sct_cost text-center">
              <span class="amount">18,000원 </span>
            </div>
            <div style="display: flex; justify-content:center; margin-top: 20px;">
              <button  type="button" class="btn btn-lg">BUY</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 두번째 줄 -->
<div class="py-5" >
  <div class="container">
    <div class="row">
      <div class="col">
        <div style="border-style: none;" class="card" >
          <figure style="width: 160px; height: 214px; margin-left: 70px;">
            <img  src="http://www.kajawine.kr/data/item/1639621458/thumb-66y46rK967CU656M7Jik7YGs40_160x214.jpg" class="card-img-top d-flex justify-content-center" alt="...">
            <figcaption>
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title text-center">문경바람 오크</h5>
            <div class="sct_cost text-center">
              <strike>30,000원</strike>
              <span class="amount">27,000원  </span>
            </div>
            <div style="display: flex; justify-content:center; margin-top: 20px;">
              <button  type="button" class="btn btn-lg">BUY</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="border-style: none;" class="card" >
          <figure style="width: 160px; height: 214px; margin-left: 70px;">
            <img  src="http://www.kajawine.kr/data/item/1637285143/thumb-6rOg7Jq064us7Jik7YGs_160x214.jpg" class="card-img-top d-flex justify-content-center" alt="...">
            <figcaption>
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title text-center">고운달 오크</h5>
            <div class="sct_cost text-center">
              <strike>180,000원</strike>
              <span class="amount">162,000원</span>
            </div>
            <div style="display: flex; justify-content:center; margin-top: 20px;">
              <button  type="button" class="btn btn-lg">BUY</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="border-style: none;" class="card" >
          <figure style="width: 160px; height: 214px; margin-left: 70px;">
            <img  src="http://www.kajawine.kr/data/item/1637285125/thumb-6rOg7Jq064us67Cx7J6Q_160x214.jpg" class="card-img-top d-flex justify-content-center" alt="...">
            <figcaption>
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title text-center">고운달 백자</h5>
            <div class="sct_cost text-center">
              <strike>360,000원</strike>
              <span class="amount">324,000원 </span>
            </div>
            <div style="display: flex; justify-content:center; margin-top: 20px;">
              <button  type="button" class="btn btn-lg">BUY</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="border-style: none;" class="card" >
          <figure style="width: 160px; height: 214px; margin-left: 70px;">
            <img  src="http://www.kajawine.kr/data/item/1629252459/thumb-7ISc7Jq47J2Y67Ck_160x214.jpg" class="card-img-top d-flex justify-content-center" alt="...">
            <figcaption>
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title text-center">서울의 밤</h5>
            <div class="sct_cost text-center">
              <strike>60,000원</strike>
              <span class="amount">48,000원</span>
            </div>
            <div style="display: flex; justify-content:center; margin-top: 20px;">
              <button  type="button" class="btn btn-lg">BUY</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 세번째 줄 -->
<div class="py-5" >
  <div class="container">
    <div class="row">
      <div class="col">
        <div style="border-style: none;" class="card" >
          <figure style="width: 160px; height: 214px; margin-left: 70px;">
            <img  src="http://www.kajawine.kr/data/item/1505447956/thumb-1505447956_l1_160x214.jpg"" class="card-img-top d-flex justify-content-center" alt="...">
            <figcaption>
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title text-center">매실 원주 천매세트</h5>
            <div class="sct_cost text-center">
              <strike>198,000원</strike>
              <span class="amount">180,000원 </span>
            </div>
            <div style="display: flex; justify-content:center; margin-top: 20px;">
              <button  type="button" class="btn btn-lg">BUY</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="border-style: none;" class="card" >
          <figure style="width: 160px; height: 214px; margin-left: 70px;">
            <img  src="http://www.kajawine.kr/data/item/1639622868/thumb-7JWI64Z7IaM7KO867aA67aA7YOI7IS47Yq4_160x214.jpg" class="card-img-top d-flex justify-content-center" alt="...">
            <figcaption>
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title text-center">안동 소주 부부탈 세트</h5>
            <div class="sct_cost text-center">
              <strike>74,000원</strike>
              <span class="amount">68,000원</span>
            </div>
            <div style="display: flex; justify-content:center; margin-top: 20px;">
              <button  type="button" class="btn btn-lg">BUY</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="border-style: none;" class="card" >
          <figure style="width: 160px; height: 214px; margin-left: 70px;">
            <img  src="http://www.kajawine.kr/data/item/1662858967/thumb-7Jik66ek65297Y297IS47Yq4_160x214.jpg" class="card-img-top d-flex justify-content-center" alt="...">
            <figcaption>
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title text-center">오매락 퍽</h5>
            <div class="sct_cost text-center">
              <strike>77,000원</strike>
              <span class="amount">70,000원 </span>
            </div>
            <div style="display: flex; justify-content:center; margin-top: 20px;">
              <button  type="button" class="btn btn-lg">BUY</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="border-style: none;" class="card" >
          <figure style="width: 160px; height: 214px; margin-left: 70px;">
            <img  src="http://www.kajawine.kr/data/item/1649645678/thumb-7J206rCV7KO87IS47Yq4_160x214.jpg" class="card-img-top d-flex justify-content-center" alt="...">
            <figcaption>
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title text-center">이강주 프리미엄</h5>
            <div class="sct_cost text-center">
              <strike>175,000원</strike>
              <span class="amount">160,000원 </span>
            </div>
            <div style="display: flex; justify-content:center; margin-top: 20px;">
              <button  type="button" class="btn btn-lg">BUY</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 네번째 줄 -->
<div class="py-5" >
  <div class="container">
    <div class="row">
      <div class="col">
        <div style="border-style: none;" class="card" >
          <figure style="width: 160px; height: 214px; margin-left: 70px;">
            <img  src="http://www.kajawine.kr/data/item/1637285280/thumb-64W56rOg7J2Y64iI66y8_160x214.jpg" class="card-img-top d-flex justify-content-center" alt="...">
            <figcaption>
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title text-center">녹고의 눈물</h5>
            <div class="sct_cost text-center">
              <strike>175,000원</strike>
              <span class="amount">160,000원 </span>
            </div>
            <div style="display: flex; justify-content:center; margin-top: 20px;">
              <button  type="button" class="btn btn-lg">BUY</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="border-style: none;" class="card" >
          <figure style="width: 160px; height: 214px; margin-left: 70px;">
            <img  src="http://www.kajawine.kr/data/item/1637285098/thumb-6raB7KSR7Iig7JmV7KO8_160x214.jpg" class="card-img-top d-flex justify-content-center" alt="...">
            <figcaption>
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title text-center">궁중술 왕주</h5>
            <div class="sct_cost text-center">
              <strike>175,000원</strike>
              <span class="amount">160,000원 </span>
            </div>
            <div style="display: flex; justify-content:center; margin-top: 20px;">
              <button  type="button" class="btn btn-lg">BUY</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="border-style: none;" class="card" >
          <figure style="width: 160px; height: 214px; margin-left: 70px;">
            <img  src="http://www.kajawine.kr/data/item/1637205287/thumb-7Yah7ZWc7J6U7IaM7KO8_160x214.jpg" class="card-img-top d-flex justify-content-center" alt="...">
            <figcaption>
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title text-center">톡 한잔 소주</h5>
            <div class="sct_cost text-center">
              <strike>175,000원</strike>
              <span class="amount">160,000원 </span>
            </div>
            <div style="display: flex; justify-content:center; margin-top: 20px;">
              <button  type="button" class="btn btn-lg">BUY</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="border-style: none;" class="card" >
          <figure style="width: 160px; height: 214px; margin-left: 70px;">
            <img  src="http://www.kajawine.kr/data/item/1637286911/thumb-7J206rCV7KO825_160x214.jpg" class="card-img-top d-flex justify-content-center" alt="...">
            <figcaption>
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title text-center">이강주 25도</h5>
            <div class="sct_cost text-center">
              <strike>175,000원</strike>
              <span class="amount">160,000원 </span>
            </div>
            <div style="display: flex; justify-content:center; margin-top: 20px;">
              <button  type="button" class="btn btn-lg">BUY</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
