{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
  .best_item_list .amount {
             padding-left: 18px;
             background-image: url(/img/common/item_arrow_.png);
             background-repeat: no-repeat;
             background-position: 4px 9px;
             font-size: 16px;
             color: #583637
           }

           .best_item_list table {
             width: 100%;
           }

           .best_item_list td {
             width: 20%;
             vertical-align: top;
           }

           .best_item_list td div {
             line-height: 26px;
             color: #636363;
             margin: 0 auto !important;
             text-align: center;
           }

           .best_item_list .sct_txt {
             font-weight: bold;
             font-size: 13x;
             color: #58595b
           }

           .item_btn_ex {
             position: absolute;
             bottom: 10px;
             right: 10px
           }
</style>
{% endblock css %}


{% block body %}

<!-- BEST 상품 -->
<div class="py-5">
<div class="container">
<div class="row">
<div class="col-md-12">
  <h2 class="">와인 BEST5 <small class="text-muted">와인 BEST5</small></h2>
  <div class="row" >
    <div class="col-md-12">
      <table class="best">
        <tbody>
          <tr>
            <td>
              <!-- 상품진열 10 시작 { -->
              <table class="best">
                <tbody>
                  <tr>
                    <td>
                      <div class="listImg best0">
                        <a href="http://www.kajawine.kr/shop/item.php?it_id=1651198827" class="sct_a">
                          <span class="best_icon"></span>
                          <img src="http://www.kajawine.kr/data/item/1651198827/thumb-7ZWc7IKw7IaM6rOh7KO8_175x234.jpg" alt="한산 소곡주 명화 1호 (VAT별도) 현금가" title="" width="175" height="234">
                        </a></div>
                      <div class="sct_txt"><a href="http://www.kajawine.kr/shop/item.php?it_id=1651198827" class="sct_a"> 한산 소곡주 명화 1호 (VAT별도) 현금가 </a></div>
                      <div class="it_origin">대한민국</div>
                      <div class="sct_cost">
                        <strike>120,000원</strike>
                        <span class="amount">110,000원</span>
                      </div>
                    </td>
                    <td>
                      <div class="listImg best1"><a href="http://www.kajawine.kr/shop/item.php?it_id=1505039922" class="sct_a"><span class="best_icon"></span>
                          <img src="http://www.kajawine.kr/data/item/1505039922/thumb-1505039922_l1_175x234.jpg" alt="천지향 복분자스페셜 세트(700*2,잔1개)" title="" width="175" height="234">
                        </a></div>
                      <div class="sct_txt"><a href="http://www.kajawine.kr/shop/item.php?it_id=1505039922" class="sct_a"> 천지향 복분자스페셜 세트(700*2,잔1개) </a></div>
                      <div class="sct_cost">
                        <strike>110,000원</strike>
                        <span class="amount">100,000원</span>
                      </div>
                    </td>
                    <td>
                      <div class="listImg best2"><a href="http://www.kajawine.kr/shop/item.php?it_id=1467331636" class="sct_a"><span class="best_icon"></span>
                          <img src="http://www.kajawine.kr/data/item/1467331636/thumb-1467331636_l1_175x234.jpg" alt="화요 375ml 3종 선물세트 (VAT별도) 현금가" title="" width="175" height="234">
                        </a></div>
                      <div class="sct_txt"><a href="http://www.kajawine.kr/shop/item.php?it_id=1467331636" class="sct_a"> 화요 375ml 3종 선물세트 (VAT별도) 현금가 </a></div>
                      <div class="sct_cost">
                        <strike>75,000원</strike>
                        <span class="amount">68,000원</span>
                      </div>
                    </td>
                    <td>
                      <div class="listImg best3"><a href="http://www.kajawine.kr/shop/item.php?it_id=1462597896" class="sct_a"><span class="best_icon"></span>
                          <img src="http://www.kajawine.kr/data/item/1462597896/thumb-1462597896_l1_175x234.jpg" alt="화요53도750ml(증류식소주)" title="" width="175" height="234">
                        </a></div>
                      <div class="sct_txt"><a href="http://www.kajawine.kr/shop/item.php?it_id=1462597896" class="sct_a"> 화요53도750ml(증류식소주) </a></div>
                      <div class="sct_cost">
                        <strike>94,000원</strike>
                        <span class="amount">85,000원</span>
                      </div>
                    </td>
                    <td>
                      <div class="listImg best4"><a href="http://www.kajawine.kr/shop/item.php?it_id=1453516309" class="sct_a"><span class="best_icon"></span>
                          <img src="http://www.kajawine.kr/data/item/1453516309/thumb-67O167aE7J6Q7IS47Yq4_175x234.jpg" alt="천지향복분자 백8호(400*2,잔2개)" title="" width="175" height="234">
                        </a></div>
                      <div class="sct_txt"><a href="http://www.kajawine.kr/shop/item.php?it_id=1453516309" class="sct_a"> 천지향복분자 백8호(400*2,잔2개) </a></div>
                     
                      <div class="sct_cost">
                        <strike>66,000원</strike>
                        <span class="amount">60,000원</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>
</div>


<!-- 상품 소개 Banner -->
<div class="py-5" >
<div class="container">
<div class="row">
<div class="col-lg-8 p-md-5 p-3 d-flex flex-column justify-content-center">
  <h1>상품 소개 BANNER</h1>
  <p class="mb-0">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
</div>
<div class="col-lg-4 p-3">
  <div id="carousel2" class="carousel slide" data-ride="carousel" data-interval="5000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/a03f68117053575.606e8cc92bc3b.jpg"> </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/b570b2117053575.606e8cca4a27c.jpg"> </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/056ce2117053575.606e9a8dd6469.jpg"> </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/ea8e56117053575.606e8cc970c30.jpg"> </div>
    </div>
    <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span></a>
    <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span></a>
  </div>
</div>
</div>
</div>
</div>

<!-- title -->
<section>
<div class="container">
<h2>
<span>OUR PICK</span>
</h2>
<span class="sub_tit">와인나라팀에서 특별히 선정한 상품들을 만나보세요.</span>
<pre></pre>
<div class="result_tab">
<ul class="d-flex justify-content-around text-decoration-none">
  <li class="on"><button type="button">FALL PICK</button></li>
  <li class=""><button type="button">이달의 와인</button></li>
  <li class=""><button type="button">시그니처 와인</button></li>
</ul>
</div>
</div>

<!-- card -->

<!-- 첫번째 -->
<div class="py-5" >
<div class="container">
<div class="row">
<div class="col-md-4">
  <div class="col-md-12">
    <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
    <div class="card text-center">
      <div class="card-footer text-muted">
        <ul class="nav nav-pills">
          <li class="nav-item"> <a href="#" class="active nav-link"><i class="d-block fa fa-lg fa-bell-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-area-chart"></i></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><i class="d-block fa fa-lg fa-clock-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-cloud-upload"></i></a> </li>
        </ul>
      </div>
    </div>
    <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
    <p class="lead">Lead paragraph. A wonderful serenity has taken possession of my entire soul.</p>
    <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
  </div>
</div>
<div class="col-md-4">
  <div class="col-md-12">
    <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/b818c64542cfccb9ad83234c1110e254.png">
    <div class="card text-center">
      <div class="card-footer text-muted">
        <ul class="nav nav-pills">
          <li class="nav-item"> <a href="#" class="active nav-link"><i class="d-block fa fa-lg fa-bell-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-area-chart"></i></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><i class="d-block fa fa-lg fa-clock-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-cloud-upload"></i></a> </li>
        </ul>
      </div>
    </div>
    <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
    <p class="lead">Lead paragraph. A wonderful serenity has taken possession of my entire soul.</p>
    <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
  </div>
</div>
<div class="col-md-4">
  <div class="col-md-12">
    <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/ac2ca885ea73ebc041874209d240cac8.png">
    <div class="card text-center">
      <div class="card-footer text-muted">
        <ul class="nav nav-pills">
          <li class="nav-item"> <a href="#" class="active nav-link"><i class="d-block fa fa-lg fa-bell-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-area-chart"></i></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><i class="d-block fa fa-lg fa-clock-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-cloud-upload"></i></a> </li>
        </ul>
      </div>
    </div>
    <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
    <p class="lead">Lead paragraph. A wonderful serenity has taken possession of my entire soul.</p>
    <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
  </div>
</div>
</div>
</div>
</div>


<!-- 두번째 -->
<div class="py-5" >
<div class="container">
<div class="row">
<div class="col-md-4">
  <div class="col-md-12">
    <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
    <div class="card text-center">
      <div class="card-footer text-muted">
        <ul class="nav nav-pills">
          <li class="nav-item"> <a href="#" class="active nav-link"><i class="d-block fa fa-lg fa-bell-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-area-chart"></i></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><i class="d-block fa fa-lg fa-clock-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-cloud-upload"></i></a> </li>
        </ul>
      </div>
    </div>
    <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
    <p class="lead">Lead paragraph. A wonderful serenity has taken possession of my entire soul.</p>
    <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
  </div>
</div>
<div class="col-md-4">
  <div class="col-md-12">
    <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
    <div class="card text-center">
      <div class="card-footer text-muted">
        <ul class="nav nav-pills">
          <li class="nav-item"> <a href="#" class="active nav-link"><i class="d-block fa fa-lg fa-bell-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-area-chart"></i></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><i class="d-block fa fa-lg fa-clock-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-cloud-upload"></i></a> </li>
        </ul>
      </div>
    </div>
    <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
    <p class="lead">Lead paragraph. A wonderful serenity has taken possession of my entire soul.</p>
    <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
  </div>
</div>
<div class="col-md-4">
  <div class="col-md-12">
    <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
    <div class="card text-center">
      <div class="card-footer text-muted">
        <ul class="nav nav-pills">
          <li class="nav-item"> <a href="#" class="active nav-link"><i class="d-block fa fa-lg fa-bell-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-area-chart"></i></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><i class="d-block fa fa-lg fa-clock-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-cloud-upload"></i></a> </li>
        </ul>
      </div>
    </div>
    <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
    <p class="lead">Lead paragraph. A wonderful serenity has taken possession of my entire soul.</p>
    <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
  </div>
</div>
</div>
</div>
</div>


<!-- 세번째 -->
<div class="py-5" >
<div class="container">
<div class="row">
<div class="col-md-4">
  <div class="col-md-12">
    <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
    <div class="card text-center">
      <div class="card-footer text-muted">
        <ul class="nav nav-pills">
          <li class="nav-item"> <a href="#" class="active nav-link"><i class="d-block fa fa-lg fa-bell-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-area-chart"></i></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><i class="d-block fa fa-lg fa-clock-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-cloud-upload"></i></a> </li>
        </ul>
      </div>
    </div>
    <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
    <p class="lead">Lead paragraph. A wonderful serenity has taken possession of my entire soul.</p>
    <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
  </div>
</div>
<div class="col-md-4">
  <div class="col-md-12">
    <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
    <div class="card text-center">
      <div class="card-footer text-muted">
        <ul class="nav nav-pills">
          <li class="nav-item"> <a href="#" class="active nav-link"><i class="d-block fa fa-lg fa-bell-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-area-chart"></i></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><i class="d-block fa fa-lg fa-clock-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-cloud-upload"></i></a> </li>
        </ul>
      </div>
    </div>
    <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
    <p class="lead">Lead paragraph. A wonderful serenity has taken possession of my entire soul.</p>
    <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
  </div>
</div>
<div class="col-md-4">
  <div class="col-md-12">
    <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
    <div class="card text-center">
      <div class="card-footer text-muted">
        <ul class="nav nav-pills">
          <li class="nav-item"> <a href="#" class="active nav-link"><i class="d-block fa fa-lg fa-bell-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-area-chart"></i></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><i class="d-block fa fa-lg fa-clock-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-cloud-upload"></i></a> </li>
        </ul>
      </div>
    </div>
    <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
    <p class="lead">Lead paragraph. A wonderful serenity has taken possession of my entire soul.</p>
    <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
  </div>
</div>
</div>
</div>
</div>


<!-- 네번째 -->
<div class="py-5" >
<div class="container">
<div class="row">
<div class="col-md-4">
  <div class="col-md-12">
    <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
    <div class="card text-center">
      <div class="card-footer text-muted">
        <ul class="nav nav-pills">
          <li class="nav-item"> <a href="#" class="active nav-link"><i class="d-block fa fa-lg fa-bell-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-area-chart"></i></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><i class="d-block fa fa-lg fa-clock-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-cloud-upload"></i></a> </li>
        </ul>
      </div>
    </div>
    <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
    <p class="lead">Lead paragraph. A wonderful serenity has taken possession of my entire soul.</p>
    <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
  </div>
</div>
<div class="col-md-4">
  <div class="col-md-12">
    <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
    <div class="card text-center">
      <div class="card-footer text-muted">
        <ul class="nav nav-pills">
          <li class="nav-item"> <a href="#" class="active nav-link"><i class="d-block fa fa-lg fa-bell-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-area-chart"></i></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><i class="d-block fa fa-lg fa-clock-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-cloud-upload"></i></a> </li>
        </ul>
      </div>
    </div>
    <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
    <p class="lead">Lead paragraph. A wonderful serenity has taken possession of my entire soul.</p>
    <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
  </div>
</div>
<div class="col-md-4">
  <div class="col-md-12">
    <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
    <div class="card text-center">
      <div class="card-footer text-muted">
        <ul class="nav nav-pills">
          <li class="nav-item"> <a href="#" class="active nav-link"><i class="d-block fa fa-lg fa-bell-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-area-chart"></i></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><i class="d-block fa fa-lg fa-clock-o"></i></a> </li>
          <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-cloud-upload"></i></a> </li>
        </ul>
      </div>
    </div>
    <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
    <p class="lead">Lead paragraph. A wonderful serenity has taken possession of my entire soul.</p>
    <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
  </div>
</div>
</div>
</div>
</div>

<!-- 다섯번째 -->
<div class="py-5" >
<div class="container">
<div class="row">
  <div class="col-md-4">
    <div class="col-md-12">
      <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
      <div class="card text-center">
        <div class="card-footer text-muted">
          <ul class="nav nav-pills">
            <li class="nav-item"> <a href="#" class="active nav-link"><i class="d-block fa fa-lg fa-bell-o"></i></a> </li>
            <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-area-chart"></i></a> </li>
            <li class="nav-item"> <a class="nav-link" href="#"><i class="d-block fa fa-lg fa-clock-o"></i></a> </li>
            <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-cloud-upload"></i></a> </li>
          </ul>
        </div>
      </div>
      <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
      <p class="lead">Lead paragraph. A wonderful serenity has taken possession of my entire soul.</p>
      <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12">
      <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
      <div class="card text-center">
        <div class="card-footer text-muted">
          <ul class="nav nav-pills">
            <li class="nav-item"> <a href="#" class="active nav-link"><i class="d-block fa fa-lg fa-bell-o"></i></a> </li>
            <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-area-chart"></i></a> </li>
            <li class="nav-item"> <a class="nav-link" href="#"><i class="d-block fa fa-lg fa-clock-o"></i></a> </li>
            <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-cloud-upload"></i></a> </li>
          </ul>
        </div>
      </div>
      <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
      <p class="lead">Lead paragraph. A wonderful serenity has taken possession of my entire soul.</p>
      <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12">
      <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
      <div class="card text-center">
        <div class="card-footer text-muted">
          <ul class="nav nav-pills">
            <li class="nav-item"> <a href="#" class="active nav-link"><i class="d-block fa fa-lg fa-bell-o"></i></a> </li>
            <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-area-chart"></i></a> </li>
            <li class="nav-item"> <a class="nav-link" href="#"><i class="d-block fa fa-lg fa-clock-o"></i></a> </li>
            <li class="nav-item"> <a href="#" class="nav-link"><i class="d-block fa fa-lg fa-cloud-upload"></i></a> </li>
          </ul>
        </div>
      </div>
      <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
      <p class="lead">Lead paragraph. A wonderful serenity has taken possession of my entire soul.</p>
      <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
    </div>
  </div>
</div>
</div>
</div>


{% endblock body %}



   