{% extends 'base.html' %}
{% load static %}



{% block body %}

<!-- BEST 상품 -->
<div style="margin-top: 145px; background-color: #fff;" class="section service-section-1">
  
  <div class="container">
    <div style="margin-bottom: 30px;">
      <h2 class="fw-bolder">BEST 5 <br>
      <small style="font-size: 16px;" class="text-muted">Cheers에서 선택한 BEST5 와인을 확인해보세요</small></h2>
    </div>
    <!-- 첫번쨰 -->
    <div class="row">
      <div class="col-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up"  data-aos-delay="100">
        <div class="service-1">
          <div >
            <img style="width: 250px; height:300px;" src="http://www.kajawine.kr/data/item/2716412100/thumb-7IS464eo66as7Jik65Oc67mg7Iuc64KY7YGs66as7JWI7J6Q_175x234.jpg" alt="Image" class="img-fluid">
          </div>
          <div>
            <h3 class="mt-4">세뇨리오 드 빠니사 가르나차</h3>
            <p>스페인</p>
            <div class="sct_cost">
              <strike>26,000원</strike>
              <span class="amount">18,000원</span>
              </div>
          </div>
        </div>
      </div>
      <!-- 두번쨰 -->
      <div class="col-lg-9">
        <div class="row">
          <div class="col-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up"  data-aos-delay="100">
            <div class="service-1">
              <div >
                <img style="width: 250px; height:300px;" src="http://www.kajawine.kr/data/item/2461148200/thumb-7IS464eo66as7Jik65Oc67mg64uI7IKs7YWc7ZSE652864eo_175x234.jpg" alt="Image" class="img-fluid">
              </div>
              <div>
                <h3 class="mt-4">세뇨리오 드 빠니사 </h3>
                <p>스페인</p>
                <div class="sct_cost">
                  <strike>26,000원</strike>
                  <span class="amount">18,000원</span>
                  </div>
              </div>
            </div>
          </div>
          <!-- 세번째 -->
          <div class="col-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up"  data-aos-delay="100">
            <div class="service-1">
              <div >
                <img style="width: 250px; height:300px;" src="http://www.kajawine.kr/data/item/1643069909/thumb-6re4656R65Oc67mg64uI7IKs7YWc7ZSE652864uI7JqU_175x234.jpg" alt="Image" class="img-fluid">
              </div>
              <div>
                <h3 class="mt-4">그랑 드 빠니사</h3>
                <p>스페인</p>
                <div class="sct_cost">
                  <strike>26,000원</strike>
                  <span class="amount">18,000원</span>
                  </div>
              </div>
            </div>
          </div>
          <!-- 네번째 -->
          <div class="col-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up"  data-aos-delay="100">
            <div class="service-1">
              <div >
                <img style="width: 250px; height:300px;" src="http://www.kajawine.kr/data/item/1609060442/thumb-7Y066eB7Iqk7YOA66mU66W866Gc66eQ67Kh_175x234.jpg" alt="Image" class="img-fluid">
              </div>
              <div>
                <h3 class="mt-4">폴링스타</h3>
                <p>아르헨티나</p>
                <div class="sct_cost">
                  <strike>26,000원</strike>
                  <span class="amount">18,000원</span>
                  </div>
              </div>
            </div>
          </div>
          <!-- 다섯번쨰 -->
          <div class="col-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up"  data-aos-delay="100">
            <div class="service-1">
              <div >
                <img style="width: 250px; height:300px;" src="http://www.kajawine.kr/data/item/1388565052/thumb-1388565052_l1_175x234.jpg" alt="Image" class="img-fluid">
              </div>
              <div>
                <h3 class="mt-4">토로 네그로</h3>
                <p>스페인</p>
                <div class="sct_cost">
                  <strike>26,000원</strike>
                  <span class="amount">18,000원</span>
                  </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>



<!-- 상품 소개 Banner -->
<div class="py-5" >
  <div class="container">
    <div class="row">
      <div class="col-lg-8 p-md-5 p-3 d-flex flex-column justify-content-center">
        <h1>상품 소개 BANNER</h1>
        <p class="mb-0">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
      </div>
      <div class="col-lg-4 p-3">
        <div id="carousel2" class="carousel slide" data-ride="carousel" data-interval="5000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/a03f68117053575.606e8cc92bc3b.jpg"> </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/b570b2117053575.606e8cca4a27c.jpg"> </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/056ce2117053575.606e9a8dd6469.jpg"> </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/ea8e56117053575.606e8cc970c30.jpg"> </div>
          </div>
          <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span></a>
          <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- title -->
<section style="margin-top: 80px;">
  <div class="container">
    <h2>
      <span>OUR PICK</span>
    </h2>
    <span class="sub_tit">Cheers팀에서 특별히 선정한 상품들을 만나보세요.</span>
    <pre></pre>
  </div>

<!-- card -->

<!-- 첫번째 -->
<div class="py-5" >
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="col-md-12">
          <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
          <!-- 정보 -->
          <div class="more_info" >
            <div class="icon type" style="display: inline-block; ">
              <span class="" style="background:#C50D0D; border-radius: 100%; padding: 5px;">&nbsp;&nbsp;</span>&nbsp레드</div>
              <span>&nbsp&nbsp 미국</span>					 
            <span class="icon box">&nbsp&nbsp CALIFORNIA</span>
            <div class="btn">
              <button type="button" class="wish wish_03S632 " id="wish_03S632" onclick="product.likeProduct('03S632');">
                <span>찜하기</span>
              </button>
              <!--button type="button" class="cart" onclick='location.href="/shop/product/product_view?product_cd=03S632"'><span>장바구니</span></button-->
            </div>
            <p class="prd_name"><a href="/shop/product/product_view?product_cd=03S632">뤠암 백스토퍼 닥터 크레인<span class="en">REALM BECKSTOFFER DR. CRANE</span></a></p>
            <p class="prd_info">나파밸리 최고의 레전더리 와인이 될거라는 극찬을 받으며 로버트파커 100점 을 획득한 와인.</p>
            <p class="price">
              <ins class="out">2,000,000원 / 매장문의</ins>
            </p>
          </div>
          <!-- 정보 끝 -->
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12">
          <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/b818c64542cfccb9ad83234c1110e254.png">
          <!-- 정보 -->
          <div class="more_info" >
            <div class="icon type" style="display: inline-block; ">
              <span class="" style="background:#C50D0D; border-radius: 100%; padding: 5px;">&nbsp;&nbsp;</span>&nbsp레드</div>
              <span>&nbsp&nbsp 미국</span>					 
            <span class="icon box">&nbsp&nbsp CALIFORNIA</span>
            <div class="btn">
              <button type="button" class="wish wish_03S632 " id="wish_03S632" onclick="product.likeProduct('03S632');">
                <span>찜하기</span>
              </button>
              <!--button type="button" class="cart" onclick='location.href="/shop/product/product_view?product_cd=03S632"'><span>장바구니</span></button-->
            </div>
            <p class="prd_name"><a href="/shop/product/product_view?product_cd=03S632">뤠암 백스토퍼 닥터 크레인<span class="en">REALM BECKSTOFFER DR. CRANE</span></a></p>
            <p class="prd_info">나파밸리 최고의 레전더리 와인이 될거라는 극찬을 받으며 로버트파커 100점 을 획득한 와인.</p>
            <p class="price">
              <ins class="out">2,000,000원 / 매장문의</ins>
            </p>
          </div>
          <!-- 정보 끝 -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12">
          <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/ac2ca885ea73ebc041874209d240cac8.png">
         <!-- 정보 -->
         <div class="more_info" >
          <div class="icon type" style="display: inline-block; ">
            <span class="" style="background:#C50D0D; border-radius: 100%; padding: 5px;">&nbsp;&nbsp;</span>&nbsp레드</div>
            <span>&nbsp&nbsp 미국</span>					 
          <span class="icon box">&nbsp&nbsp CALIFORNIA</span>
          <div class="btn">
            <button type="button" class="wish wish_03S632 " id="wish_03S632" onclick="product.likeProduct('03S632');">
              <span>찜하기</span>
            </button>
            <!--button type="button" class="cart" onclick='location.href="/shop/product/product_view?product_cd=03S632"'><span>장바구니</span></button-->
          </div>
          <p class="prd_name"><a href="/shop/product/product_view?product_cd=03S632">뤠암 백스토퍼 닥터 크레인<span class="en">REALM BECKSTOFFER DR. CRANE</span></a></p>
          <p class="prd_info">나파밸리 최고의 레전더리 와인이 될거라는 극찬을 받으며 로버트파커 100점 을 획득한 와인.</p>
          <p class="price">
            <ins class="out">2,000,000원 / 매장문의</ins>
          </p>
        </div>
        <!-- 정보 끝 -->
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 두번째 -->
<div class="py-5" >
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="col-md-12">
          <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
          <!-- 정보 -->
          <div class="more_info" >
            <div class="icon type" style="display: inline-block; ">
              <span class="" style="background:#C50D0D; border-radius: 100%; padding: 5px;">&nbsp;&nbsp;</span>&nbsp레드</div>
              <span>&nbsp&nbsp 미국</span>					 
            <span class="icon box">&nbsp&nbsp CALIFORNIA</span>
            <div class="btn">
              <button type="button" class="wish wish_03S632 " id="wish_03S632" onclick="product.likeProduct('03S632');">
                <span>찜하기</span>
              </button>
              <!--button type="button" class="cart" onclick='location.href="/shop/product/product_view?product_cd=03S632"'><span>장바구니</span></button-->
            </div>
            <p class="prd_name"><a href="/shop/product/product_view?product_cd=03S632">뤠암 백스토퍼 닥터 크레인<span class="en">REALM BECKSTOFFER DR. CRANE</span></a></p>
            <p class="prd_info">나파밸리 최고의 레전더리 와인이 될거라는 극찬을 받으며 로버트파커 100점 을 획득한 와인.</p>
            <p class="price">
              <ins class="out">2,000,000원 / 매장문의</ins>
            </p>
          </div>
          <!-- 정보 끝 -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12">
          <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
          <!-- 정보 -->
          <div class="more_info" >
            <div class="icon type" style="display: inline-block; ">
              <span class="" style="background:#C50D0D; border-radius: 100%; padding: 5px;">&nbsp;&nbsp;</span>&nbsp레드</div>
              <span>&nbsp&nbsp 미국</span>					 
            <span class="icon box">&nbsp&nbsp CALIFORNIA</span>
            <div class="btn">
              <button type="button" class="wish wish_03S632 " id="wish_03S632" onclick="product.likeProduct('03S632');">
                <span>찜하기</span>
              </button>
              <!--button type="button" class="cart" onclick='location.href="/shop/product/product_view?product_cd=03S632"'><span>장바구니</span></button-->
            </div>
            <p class="prd_name"><a href="/shop/product/product_view?product_cd=03S632">뤠암 백스토퍼 닥터 크레인<span class="en">REALM BECKSTOFFER DR. CRANE</span></a></p>
            <p class="prd_info">나파밸리 최고의 레전더리 와인이 될거라는 극찬을 받으며 로버트파커 100점 을 획득한 와인.</p>
            <p class="price">
              <ins class="out">2,000,000원 / 매장문의</ins>
            </p>
          </div>
          <!-- 정보 끝 -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12">
          <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
          <!-- 정보 -->
          <div class="more_info" >
            <div class="icon type" style="display: inline-block; ">
              <span class="" style="background:#C50D0D; border-radius: 100%; padding: 5px;">&nbsp;&nbsp;</span>&nbsp레드</div>
              <span>&nbsp&nbsp 미국</span>					 
            <span class="icon box">&nbsp&nbsp CALIFORNIA</span>
            <div class="btn">
              <button type="button" class="wish wish_03S632 " id="wish_03S632" onclick="product.likeProduct('03S632');">
                <span>찜하기</span>
              </button>
              <!--button type="button" class="cart" onclick='location.href="/shop/product/product_view?product_cd=03S632"'><span>장바구니</span></button-->
            </div>
            <p class="prd_name"><a href="/shop/product/product_view?product_cd=03S632">뤠암 백스토퍼 닥터 크레인<span class="en">REALM BECKSTOFFER DR. CRANE</span></a></p>
            <p class="prd_info">나파밸리 최고의 레전더리 와인이 될거라는 극찬을 받으며 로버트파커 100점 을 획득한 와인.</p>
            <p class="price">
              <ins class="out">2,000,000원 / 매장문의</ins>
            </p>
          </div>
          <!-- 정보 끝 -->
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 세번째 -->
<div class="py-5" >
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="col-md-12">
          <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
          <!-- 정보 -->
          <div class="more_info" >
            <div class="icon type" style="display: inline-block; ">
              <span class="" style="background:#C50D0D; border-radius: 100%; padding: 5px;">&nbsp;&nbsp;</span>&nbsp레드</div>
              <span>&nbsp&nbsp 미국</span>					 
            <span class="icon box">&nbsp&nbsp CALIFORNIA</span>
            <div class="btn">
              <button type="button" class="wish wish_03S632 " id="wish_03S632" onclick="product.likeProduct('03S632');">
                <span>찜하기</span>
              </button>
              <!--button type="button" class="cart" onclick='location.href="/shop/product/product_view?product_cd=03S632"'><span>장바구니</span></button-->
            </div>
            <p class="prd_name"><a href="/shop/product/product_view?product_cd=03S632">뤠암 백스토퍼 닥터 크레인<span class="en">REALM BECKSTOFFER DR. CRANE</span></a></p>
            <p class="prd_info">나파밸리 최고의 레전더리 와인이 될거라는 극찬을 받으며 로버트파커 100점 을 획득한 와인.</p>
            <p class="price">
              <ins class="out">2,000,000원 / 매장문의</ins>
            </p>
          </div>
          <!-- 정보 끝 -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12">
          <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
          <!-- 정보 -->
          <div class="more_info" >
            <div class="icon type" style="display: inline-block; ">
              <span class="" style="background:#C50D0D; border-radius: 100%; padding: 5px;">&nbsp;&nbsp;</span>&nbsp레드</div>
              <span>&nbsp&nbsp 미국</span>					 
            <span class="icon box">&nbsp&nbsp CALIFORNIA</span>
            <div class="btn">
              <button type="button" class="wish wish_03S632 " id="wish_03S632" onclick="product.likeProduct('03S632');">
                <span>찜하기</span>
              </button>
              <!--button type="button" class="cart" onclick='location.href="/shop/product/product_view?product_cd=03S632"'><span>장바구니</span></button-->
            </div>
            <p class="prd_name"><a href="/shop/product/product_view?product_cd=03S632">뤠암 백스토퍼 닥터 크레인<span class="en">REALM BECKSTOFFER DR. CRANE</span></a></p>
            <p class="prd_info">나파밸리 최고의 레전더리 와인이 될거라는 극찬을 받으며 로버트파커 100점 을 획득한 와인.</p>
            <p class="price">
              <ins class="out">2,000,000원 / 매장문의</ins>
            </p>
          </div>
          <!-- 정보 끝 -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12">
          <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
          <!-- 정보 -->
          <div class="more_info" >
            <div class="icon type" style="display: inline-block; ">
              <span class="" style="background:#C50D0D; border-radius: 100%; padding: 5px;">&nbsp;&nbsp;</span>&nbsp레드</div>
              <span>&nbsp&nbsp 미국</span>					 
            <span class="icon box">&nbsp&nbsp CALIFORNIA</span>
            <div class="btn">
              <button type="button" class="wish wish_03S632 " id="wish_03S632" onclick="product.likeProduct('03S632');">
                <span>찜하기</span>
              </button>
              <!--button type="button" class="cart" onclick='location.href="/shop/product/product_view?product_cd=03S632"'><span>장바구니</span></button-->
            </div>
            <p class="prd_name"><a href="/shop/product/product_view?product_cd=03S632">뤠암 백스토퍼 닥터 크레인<span class="en">REALM BECKSTOFFER DR. CRANE</span></a></p>
            <p class="prd_info">나파밸리 최고의 레전더리 와인이 될거라는 극찬을 받으며 로버트파커 100점 을 획득한 와인.</p>
            <p class="price">
              <ins class="out">2,000,000원 / 매장문의</ins>
            </p>
          </div>
          <!-- 정보 끝 -->
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 네번째 -->
<div class="py-5" >
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="col-md-12">
          <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
          <!-- 정보 -->
          <div class="more_info" >
            <div class="icon type" style="display: inline-block; ">
              <span class="" style="background:#C50D0D; border-radius: 100%; padding: 5px;">&nbsp;&nbsp;</span>&nbsp레드</div>
              <span>&nbsp&nbsp 미국</span>					 
            <span class="icon box">&nbsp&nbsp CALIFORNIA</span>
            <div class="btn">
              <button type="button" class="wish wish_03S632 " id="wish_03S632" onclick="product.likeProduct('03S632');">
                <span>찜하기</span>
              </button>
              <!--button type="button" class="cart" onclick='location.href="/shop/product/product_view?product_cd=03S632"'><span>장바구니</span></button-->
            </div>
            <p class="prd_name"><a href="/shop/product/product_view?product_cd=03S632">뤠암 백스토퍼 닥터 크레인<span class="en">REALM BECKSTOFFER DR. CRANE</span></a></p>
            <p class="prd_info">나파밸리 최고의 레전더리 와인이 될거라는 극찬을 받으며 로버트파커 100점 을 획득한 와인.</p>
            <p class="price">
              <ins class="out">2,000,000원 / 매장문의</ins>
            </p>
          </div>
          <!-- 정보 끝 -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12">
          <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
          <!-- 정보 -->
          <div class="more_info" >
            <div class="icon type" style="display: inline-block; ">
              <span class="" style="background:#C50D0D; border-radius: 100%; padding: 5px;">&nbsp;&nbsp;</span>&nbsp레드</div>
              <span>&nbsp&nbsp 미국</span>					 
            <span class="icon box">&nbsp&nbsp CALIFORNIA</span>
            <div class="btn">
              <button type="button" class="wish wish_03S632 " id="wish_03S632" onclick="product.likeProduct('03S632');">
                <span>찜하기</span>
              </button>
              <!--button type="button" class="cart" onclick='location.href="/shop/product/product_view?product_cd=03S632"'><span>장바구니</span></button-->
            </div>
            <p class="prd_name"><a href="/shop/product/product_view?product_cd=03S632">뤠암 백스토퍼 닥터 크레인<span class="en">REALM BECKSTOFFER DR. CRANE</span></a></p>
            <p class="prd_info">나파밸리 최고의 레전더리 와인이 될거라는 극찬을 받으며 로버트파커 100점 을 획득한 와인.</p>
            <p class="price">
              <ins class="out">2,000,000원 / 매장문의</ins>
            </p>
          </div>
          <!-- 정보 끝 -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12">
          <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
          <!-- 정보 -->
          <div class="more_info" >
            <div class="icon type" style="display: inline-block; ">
              <span class="" style="background:#C50D0D; border-radius: 100%; padding: 5px;">&nbsp;&nbsp;</span>&nbsp레드</div>
              <span>&nbsp&nbsp 미국</span>					 
            <span class="icon box">&nbsp&nbsp CALIFORNIA</span>
            <div class="btn">
              <button type="button" class="wish wish_03S632 " id="wish_03S632" onclick="product.likeProduct('03S632');">
                <span>찜하기</span>
              </button>
              <!--button type="button" class="cart" onclick='location.href="/shop/product/product_view?product_cd=03S632"'><span>장바구니</span></button-->
            </div>
            <p class="prd_name"><a href="/shop/product/product_view?product_cd=03S632">뤠암 백스토퍼 닥터 크레인<span class="en">REALM BECKSTOFFER DR. CRANE</span></a></p>
            <p class="prd_info">나파밸리 최고의 레전더리 와인이 될거라는 극찬을 받으며 로버트파커 100점 을 획득한 와인.</p>
            <p class="price">
              <ins class="out">2,000,000원 / 매장문의</ins>
            </p>
          </div>
          <!-- 정보 끝 -->
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- 다섯번째 -->
  <div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="col-md-12">
            <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
           <!-- 정보 -->
          <div class="more_info" >
            <div class="icon type" style="display: inline-block; ">
              <span class="" style="background:#C50D0D; border-radius: 100%; padding: 5px;">&nbsp;&nbsp;</span>&nbsp레드</div>
              <span>&nbsp&nbsp 미국</span>					 
            <span class="icon box">&nbsp&nbsp CALIFORNIA</span>
            <div class="btn">
              <button type="button" class="wish wish_03S632 " id="wish_03S632" onclick="product.likeProduct('03S632');">
                <span>찜하기</span>
              </button>
              <!--button type="button" class="cart" onclick='location.href="/shop/product/product_view?product_cd=03S632"'><span>장바구니</span></button-->
            </div>
            <p class="prd_name"><a href="/shop/product/product_view?product_cd=03S632">뤠암 백스토퍼 닥터 크레인<span class="en">REALM BECKSTOFFER DR. CRANE</span></a></p>
            <p class="prd_info">나파밸리 최고의 레전더리 와인이 될거라는 극찬을 받으며 로버트파커 100점 을 획득한 와인.</p>
            <p class="price">
              <ins class="out">2,000,000원 / 매장문의</ins>
            </p>
          </div>
          <!-- 정보 끝 -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="col-md-12">
            <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
            <!-- 정보 -->
          <div class="more_info" >
            <div class="icon type" style="display: inline-block; ">
              <span class="" style="background:#C50D0D; border-radius: 100%; padding: 5px;">&nbsp;&nbsp;</span>&nbsp레드</div>
              <span>&nbsp&nbsp 미국</span>					 
            <span class="icon box">&nbsp&nbsp CALIFORNIA</span>
            <div class="btn">
              <button type="button" class="wish wish_03S632 " id="wish_03S632" onclick="product.likeProduct('03S632');">
                <span>찜하기</span>
              </button>
              <!--button type="button" class="cart" onclick='location.href="/shop/product/product_view?product_cd=03S632"'><span>장바구니</span></button-->
            </div>
            <p class="prd_name"><a href="/shop/product/product_view?product_cd=03S632">뤠암 백스토퍼 닥터 크레인<span class="en">REALM BECKSTOFFER DR. CRANE</span></a></p>
            <p class="prd_info">나파밸리 최고의 레전더리 와인이 될거라는 극찬을 받으며 로버트파커 100점 을 획득한 와인.</p>
            <p class="price">
              <ins class="out">2,000,000원 / 매장문의</ins>
            </p>
          </div>
          <!-- 정보 끝 -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="col-md-12">
            <img class="img-fluid d-block" src="https://www.winenara.com/uploads/product/f2b80eed7afe4af770b9c22e1fbb1cc2.png">
            <!-- 정보 -->
          <div class="more_info" >
            <div class="icon type" style="display: inline-block; ">
              <span class="" style="background:#C50D0D; border-radius: 100%; padding: 5px;">&nbsp;&nbsp;</span>&nbsp레드</div>
              <span>&nbsp&nbsp 미국</span>					 
            <span class="icon box">&nbsp&nbsp CALIFORNIA</span>
            <div class="btn">
              <button type="button" class="wish wish_03S632 " id="wish_03S632" onclick="product.likeProduct('03S632');">
                <span>찜하기</span>
              </button>
              <!--button type="button" class="cart" onclick='location.href="/shop/product/product_view?product_cd=03S632"'><span>장바구니</span></button-->
            </div>
            <p class="prd_name"><a href="/shop/product/product_view?product_cd=03S632">뤠암 백스토퍼 닥터 크레인<span class="en">REALM BECKSTOFFER DR. CRANE</span></a></p>
            <p class="prd_info">나파밸리 최고의 레전더리 와인이 될거라는 극찬을 받으며 로버트파커 100점 을 획득한 와인.</p>
            <p class="price">
              <ins class="out">2,000,000원 / 매장문의</ins>
            </p>
          </div>
          <!-- 정보 끝 -->
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}

