{% extends 'base.html' %}
{% load static %}

{% block body %}
  



<!-- 디테일 nav -->
<section>

    <div class="py-5" style="margin-top:250px;">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-3">
            <img class="img-fluid d-block mb-3" src="http://www.kajawine.kr/data/item/1639709756/thumb-6riA66CM6rOg7J241264WE_360x480.jpg">
            
			<div style="left: -140px; display: flex;" class="btn-group m-4  ">
              <a href="#" class="btn btn-primary">이전상품</a> 
              <a href="#" class="btn btn-primary">크게보기</a>
              <a href="#" class="btn btn-primary">다음상품</a> </div>
          	</div>

          <div class="col-md-6">
            <h2 class="mb-4">글렌고인 12년 <br>(GLENGOYNE12YO)</h2>
			<table class="table table-striped p-3">
				<thead>
				  <tr>
					<th scope="col">원산지</th>
					<th scope="col">스코틀랜드-스페이사이드</th>
				  </tr>
				  <tr>
					<th scope="col">제조사 </th>
					<th scope="col">The Glenlivet Distillery </th>
				  </tr>
				  <tr>
					<th scope="col">소비자 가격</th>
					<th scope="col"><strike>180,000원</strike></th>
				  </tr>
				  <tr>
					<th scope="col">추가 할인</th>
					<th style="color: red;" scope="col">42% DC</th>
				  </tr>
				  <tr>
					<th scope="col">고객 할인가</th>
					<th scope="col"> 	105,000원 </th>
				  </tr>
				  <tr>
					<th scope="col">알콜도수</th>
					<th scope="col">20.5%</th>
				  </tr>
				</thead>
				<tbody>
				  <!-- <tr>
					<th scope="row">알콜도수</th>
					<td>13.5%</td>
				  </tr> -->
				  <tr>
					<th scope="row">당도</th>
					<td><img src="http://www.kajawine.kr/shop/img/common/taste_sugar_level0.png" alt="당도"></td>
				  </tr>
				  <tr>
					<th scope="row">금액</th>
					<td>  	105,000원</td>
				  </tr>
				</tbody>
			  </table>
			  <div class="p-4 m-4">
				<button style="margin-left: 100px; padding-left:100px; padding-right:150px" type="button" class="btn ">상품문의</button>

			  </div>
          </div>
        </div>
      </div>
    </div>




	<div class="section">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-lg-5 mb-4 mb-lg-0 order-lg-2" data-aos="fade-up">
					<img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/ded3a0125080957.61124e186e560.jpg" alt="Image" class="img-fluid">
				</div>
				<div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">
					<h2 class="heading mb-4">Healthy eating habits that care about the environment</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
					<p class="my-4" data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn btn-primary">Read more</a></p>
				</div>	
			</div>
		</div>
	</div>

	<div class="section bg-light">
		
         
<div class="container">
	<div class="row align-items-stretch">
		<div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="200" >
		  <div class="media-entry">
			  <img src="https://www.shakit.co.kr/data/file/bestreview/3068359458_raZPvsAY_21f229cf952e28c1d70c629b26f05bbd4b26ad2d.jpg" alt="Image" class="img-fluid">
			<div class="bg-white m-body">
			  <span class="date">May 14, 2022</span>
			  <h3><a href="#">크리스마스 기념</a></h3>
			  <p>Vokalia and Consonantia, there live the blind texts. Separated they live.</p>

			  <a href="#" class="more d-flex align-items-center float-start">
				<span class="label">Read More</span>
				<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
			  </a>
			</div>
		  </div>
		</div>
		<div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 " data-aos="fade-up" data-aos-delay="200" >
		  <!-- data-aos="fade-up" data-aos-delay="200"  지우기 -->
		  <div class="media-entry">
			<a href="#">
			  <img src="https://www.shakit.co.kr/data/file/bestreview/3068359458_6vj1hHQw_c9ec2db6b2431e826463f6591d4ffe869d4d7855.jpg" alt="Image" class="img-fluid">
			</a>
			<div class="bg-white m-body">
			  <span class="date">May 20, 2022</span>
			  <h3><a href="#">취향에 맞게 먹을 수 있었던..</a></h3>
			  <p>Vokalia and Consonantia, there live the blind texts. Separated they live.</p>

			  <a href="#" class="more d-flex align-items-center float-start">
				<span class="label">Read More</span>
				<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
			  </a>
			</div>
		  </div>
		</div>
		<div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4"  data-aos="fade-up" data-aos-delay="200">
		  <div class="media-entry">
			<a href="#">
			  <img src="https://www.shakit.co.kr/data/file/bestreview/3068359458_F1w0kTpd_c4aaf0d9a3f64694c4735fb034ffbc0a85f0e006.jpg" alt="Image" class="img-fluid">
			</a>
			<div class="bg-white m-body">
			  <span class="date">May 14, 2020</span>
			  <h3><a href="#">얼그레이 칵테일 나쁘지 않아요</a></h3>
			  <p>Vokalia and Consonantia, there live the blind texts. Separated they live.</p>
			  <a href="#" class="more d-flex align-items-center float-start">
				<span class="label">Read More</span>
				<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
			  </a>
			</div>
		  </div>
		</div>
		<div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4"  data-aos="fade-up" data-aos-delay="200">
		  <div class="media-entry">
			<a href="#">
			  <img src="https://www.shakit.co.kr/data/file/bestreview/3068359458_h76fwKPu_8c19273681329b5397d4da4ffd3ce4cf7140602e.jpg" alt="Image" class="img-fluid">
			</a>
			<div class="bg-white m-body">
			  <span class="date">May 14, 2020</span>
			  <h3><a href="#">모든 계절에 어울립니다</a></h3>
			  <p>Vokalia and Consonantia, there live the blind texts. Separated they live.</p>
			  <a href="#" class="more d-flex align-items-center float-start">
				<span class="label">Read More</span>
				<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
			  </a>
			</div>
		  </div>
		</div>

	
</div>
       




</div>
  {% endblock body %}

 