{% extends 'base.html' %}
{% load static %}

{% block body %}
  
  <!-- 디테일 nav -->
  <section>
    <div class="detail">
      <div class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"> <a href="#">Home</a> </li>
                <li class="breadcrumb-item active">Link</li>
                <li class="breadcrumb-item active">Link</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6"><img class="img-fluid d-block" src="http://www.kajawine.kr/data/item/1628733406/thumb-67mg67iU652866eI66as7JWE7YWc7ZSE652864uI7JqU6rCA66W064KY7LCo_360x480.jpg">
              <div class="btn-group m-4">
                <a href="#" class="btn btn-primary">이전상품</a> 
                <a href="#" class="btn btn-primary">크게보기</a>
                <a href="#" class="btn btn-primary">다음상품</a> </div>
            </div>
            <div class="col-md-6">
              <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-cloud text-primary mr-2">&nbsp; 원산지&nbsp;</i></li>
                <li class="list-group-item"><i class="fa fa-bookmark text-primary mr-2">&nbsp; &nbsp;종류&nbsp;</i></li>
                <li class="list-group-item" contenteditable="true"><i class="fa fa-bell text-primary mr-2"></i> &nbsp;당도&nbsp; <span> <img src="http://www.kajawine.kr/shop/img/common/taste_sugar_level0.png" boder="0"> </span></li>
                <li class="list-group-item"><i class="fa fa-life-ring text-primary mr-2"></i> &nbsp;바디&nbsp; <span> <img src="http://www.kajawine.kr/shop/img/common/taste_sugar_level0.png" boder="0"> </span></li>
                <li class="list-group-item"><i class="fa fa-paper-plane text-primary mr-2"></i> 용량</li>
                <li class="list-group-item"><i class="fa fa-paper-plane text-primary mr-2"></i> 알콜도수</li>
              </ul>
              <ul class="list-group">
                <li class=" border-0 list-group-item d-flex justify-content-between align-items-center"> 가격 <i class="fa fa-list text-muted fa-lg"></i></li>
                <li class=" border-0 list-group-item d-flex justify-content-between align-items-center"> 매장문의 <i class="fa fa-cog text-muted fa-lg"></i></li>
              </ul>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center"> 금액 <span class="badge badge-primary badge-pill">14</span> </li>
              </ul>
              <div class="d-grid gap-2">
              </div><a class="btn btn-primary" href="#"><i class="fa fa-star fa-fw fa-1x py-1"></i></a>
              <button class="btn btn-primary" type="button">구매 희망시, 방문 가능한 매장으로 문의해주세요.</button>
            </div>
          </div>
        </div>
      </div>
      <div class="py-5" >
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"> <a href="#">Home</a> </li>
                <li class="breadcrumb-item active">Link</li>
                <li class="breadcrumb-item active">Link</li>
              </ul><img class="img-fluid d-block" src="https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/PRINT/20221108_95690594.png">
            </div>
            <div class="col-md-6"><img class="img-fluid d-block" src="https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/PRINT/20221108_86152834.png" style=""></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock body %}

 