{% extends 'base.html' %}
{% load static %}

{% block body %}
  



<!-- 디테일 nav -->
<section>

    <div class="py-5" style="margin-top: 100px;">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-3">
            <img class="img-fluid d-block mb-3" src="https://www.winenara.com/uploads/product/2957_detail_091.png">
            <div style="left: 35px;" class="btn-group m-4 d-inline ">
              <a href="#" class="btn btn-primary">이전상품</a> 
              <a href="#" class="btn btn-primary">크게보기</a>
              <a href="#" class="btn btn-primary">다음상품</a> </div>
          </div>
          <div class="col-md-6">
            <h2 class="mb-4">빠블라 마리아 템프라니요 가르나차 <br> (Pabla Maria Tempranillo Garnacha)</h2>
            <ul class="list-group list-group-flush">
              
              <li class="list-group-item"><i class="fa fa-paper-plane text-primary mr-2"></i> 원산지 
                <span>스페인</span>
              </li>
             
              <li class="list-group-item"><i class="fa fa-paper-plane text-primary mr-2"></i> 용량 
                <span> 	2000ml </span>
              </li>

              <li class="list-group-item"><i class="fa fa-paper-plane text-primary mr-2"></i> 알콜도수
                <span> 	40%</span>
              </li>
            </ul>
            <ul class="list-group">
              <li class=" border-0 list-group-item d-flex justify-content-between align-items-center"> 매장문의 <i class="fa fa-cog text-muted fa-lg"></i></li>
            </ul>
            <ul class="list-group m-3">
              <li class="list-group-item d-flex justify-content-between align-items-center"> 금액 
               
            </ul>
            <div class="d-grid gap-2 m-3">
            
            <button class="btn btn-primary" type="button">구매 희망시, 방문 가능한 매장으로 문의해주세요.</button>
          </div>
        </div>
      </div>
    </div>



<div style="margin-top: 150px;" class="py-5">
  <h2 class="heading mb-5 text-center">Testimonials</h2>

		<div class="text-center mb-5">
			<div id="prevnext-testimonial">
				<span class="prev me-3" data-controls="prev">
					<span class="icon-chevron-left"></span>

				</span>
				<span class="next" data-controls="next">
					<span class="icon-chevron-right"></span>

				</span>
			</div>
		</div>

		<div class="wide-slider-testimonial-wrap">
			<div class="wide-slider-testimonial">
				<div class="item">
					<blockquote class="block-testimonial">
						<div class="author">
							<img src="https://cdn-icons-png.flaticon.com/512/4140/4140076.png " alt="Free template by TemplateUX">
							<h3>John Doe</h3>
							<p class="position mb-5">CEO, Founder</p>
						</div>
						<p>
							<div class="quote">&ldquo;</div>
						&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
					</blockquote>
				</div>

				<div class="item">
					<blockquote class="block-testimonial">
						<div class="author">
							<img src="https://cdn-icons-png.flaticon.com/512/4140/4140076.png " alt="Free template by TemplateUX">
							<h3>James Woodland</h3>
							<p class="position mb-5">Designer at Facebook</p>
						</div>
						<p>
							<div class="quote">&ldquo;</div>
						&ldquo;When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.&rdquo;</p>

					</blockquote>
				</div>

				<div class="item">
					<blockquote class="block-testimonial">
						<div class="author">
							<img src="https://cdn-icons-png.flaticon.com/512/4140/4140076.png " alt="Free template by TemplateUX">
							<h3>Rob Smith</h3>
							<p class="position mb-5">Product Designer at Twitter</p>
						</div>
						<p>
							<div class="quote">&ldquo;</div>
						&ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;</p>
					</blockquote>
				</div>

				<div class="item">
					<blockquote class="block-testimonial">
						<div class="author">
							<img src="https://cdn-icons-png.flaticon.com/512/4140/4140076.png " alt="Free template by TemplateUX">
							<h3>John Doe</h3>
							<p class="position mb-5">CEO, Founder</p>
						</div>
						<p>
							<div class="quote">&ldquo;</div>
						&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
					</blockquote>
				</div>

				<div class="item">
					<blockquote class="block-testimonial">
						<div class="author">
							<img src="https://cdn-icons-png.flaticon.com/512/4140/4140076.png " alt="Free template by TemplateUX">
							<h3>James Woodland</h3>
							<p class="position mb-5">Designer at Facebook</p>
						</div>
						<p>
							<div class="quote">&ldquo;</div>
						&ldquo;When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.&rdquo;</p>

					</blockquote>
				</div>

				<div class="item">
					<blockquote class="block-testimonial">
						<div class="author">
							<img src="ihttps://cdn-icons-png.flaticon.com/512/4140/4140076.png " alt="Free template by TemplateUX">
							<h3>Rob Smith</h3>
							<p class="position mb-5">Product Designer at Twitter</p>
						</div>
						<p>
							<div class="quote">&ldquo;</div>
						&ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;</p>
					</blockquote>
				</div>
			</div>
		</div>



	</div> <!-- /.untree_co-section -->

</div>
  {% endblock body %}

 