<div class="contents">
  {% for recipe in recipes %}
  <a href="{% url 'recipe-detail' recipe.id %}">
    <section class="cheers-card content">
      <div class="thumb" style="background-image: url('{{ recipe.image1.url }}');"></div>
      <div class="body">
        <span class="cheers-chip green"> 칵테일 </span>
        <h2 class="title">{{ recipe.title }} </h2>
        <date class="date">{{ recipe.created_at }}</date>
        <div class="metadata">
          <div class="recipe-author">
            <div class="cheers-avatar" style="background-image: url('{{ recipe.author.profile_pic.url }}')"></div>
            <span>{{ recipe.author.nickname }}</span>
          </div>
        </div>
      </div>
    </section>
  </a>
  {% empty %}
  <p class="empty">{{ empty_message }} </p>
  {% endfor %}
</div>
