{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}비밀번호 찾기 | Cheers{% endblock title %}

{% block body %}
<main class="cheers-box account-password" style="margin-top:250px;">
  <div class="title">
    <h1 class="heading">비밀번호 찾기</h1>
  </div>

  <form method="post">
    {% csrf_token %}
    <div>
      {{ form.email|add_class:"cheers-input"|attr:"placeholder:가입시 등록한 이메일을 입력해 주세요."|add_error_class:"error"}}
      {% for error in form.email.errors %}
      <div class="form-error error-message"> {{error}}</div>
      {% endfor %}
    </div>
    <button class="cheers-button account-button" type="submit">이메일 보내기</button>
  </form>
</main>
{% endblock body %}
