{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>회원가입 | Cheers</title>
</head>
<body>
<div class="account-background">
  <main class="account">
    <div class="title">
      <a href="#">
        로고 
      </a>
    </div>

    <form method="post">
      {% csrf_token %}
      <div>
        <input type="email" name="email" placeholder="이메일" autocomplete="email" class="cp-input" required id="id_email">
      </div>
      <div>
        <input type="text" name="nickname" maxlength="15" placeholder="닉네임 (Cheers)에서 사용되는 이름입니다)" class="error cp-input" required id="id_nickname">
        <div class="error-message">이미 사용중인 닉네임입니다.</div>
      </div>
      <div>
        <input type="password" name="password1" placeholder="비밀번호" autocomplete="new-password" class="cp-input" required id="id_password1">
      </div>
      <div>
        <input type="password" name="password2" placeholder="비밀번호 확인" class="cp-input" required id="id_password2">
      </div>
      <button class="cp-button" type="submit">회원가입</button>
    </form>

    <div class="info">
      이미 회원이신가요?<a class="link" href="#">로그인</a>
    </div>
  </main>
</div>
</body>
</html>

