<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHEERS</title>
  
    <!-- CSS only -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="./css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <script defer src="./js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js" integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- SWIPER -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>
    
</head>
<body class="">
    <header class="fixed-top" >
        <nav style="height: 150px;" class="navbar navbar-expand-lg bg-black navbar-dark ">
            <div class="container "> 
                <button class="navbar-toggler navbar-toggler-right border-0 p-0" type="button" data-toggle="collapse" data-target="#navbar14">
                <p class="navbar-brand mb-0 text-white">
                  <!-- <i class="fa d-inline fa-lg fa-stop-circle"></i> BRAND </p> -->
              </button>
              <div class="collapse navbar-collapse" id="navbar14">
                <!-- 왼쪽 메뉴 -->
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item"> <a class="nav-link text-white" href="#">Home</a> </li>
                  <li class="nav-item"> <a class="nav-link text-white" href="#">About</a> </li>
                  <li class="nav-item"> <a class="nav-link text-white" href="#">Recipe</a> </li>
                </ul>
                <!-- 로고 -->
                <img style="width: 110px;" src="./img/cheers_logo.png" alt="">
                <!-- 오른쪽 메뉴 -->
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item mx-1"> <a class="nav-link" href="#">
                      <i class="text-white fa fa-github fa-fw fa-lg"></i>
                    </a> </li>
                  <li class="nav-item mx-1"> <a class="nav-link" href="#">
                      <i class="text-white fa fa-gitlab fa-fw fa-lg"></i>
                    </a> </li>
                  <li class="nav-item mx-1"> <a class="nav-link" href="#">
                      <i class="text-white fa fa-bitbucket fa-fw fa-lg"></i>
                    </a> </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- second nav -->
          <nav class="navbar navbar-expand-md navbar-dark bg-dark" >
            <div class="container justify-content-center"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar9">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse text-center justify-content-center" id="navbar9">
                <ul class="navbar-nav">
                  <li class="nav-item mx-2"> <a class="nnav-link navbar-brand mr-0 text-white" href="#">
                    <b> BRAND</b></a> </li>
                  <li class="nav-item mx-2"> <a class="nnav-link navbar-brand mr-0 text-white" href="#">
                    <b> BRAND</b></a> </li>
                  <li class="nav-item mx-2"> <a class="nav-link navbar-brand mr-0 text-white" href="#">
                      <b> BRAND</b></a> </li>
                  <li class="nav-item mx-2"> <a class="nnav-link navbar-brand mr-0 text-white" href="#">
                    <b> BRAND</b></a> </li>
                  <li class="nav-item mx-2"> <a class="nnav-link navbar-brand mr-0 text-white" href="#">
                    <b> BRAND</b></a> </li>
                </ul>
              </div>
            </div>
          </nav>

      <!-- BADGES -->
      <div class="badges">
        <div class="badge">
          <img style="width: 200px; height:300px;" src="./img/광고1.png" alt="badge">
        </div>
        <div class="badge">
          <img style="width: 200px; height:130px;" src="./img/광고2.png" alt="badge">
        </div>
      </div>

  </header>

  <!--VISUAL-->
 <section class="visual">
  <div class="inner">
    <div class="title fade-in">
      <img src="./img/main text.png" alt="" class="title_img">
      <img style="width: 700px; height: 650px;" src="./img/main.png" alt="NEGRONI">
      <a style="color: #fff;" href="javascript:void(0)" class="btn btn--red">View more</a>
    </div>
    <div class="fade-in">
      <img src="./img/칵테일4.png" alt="new OTMEAL LATTE" class="cup1 image">
      <img style="width: 400px; height:150px;" src="./img/cup1 text.png" alt="NEGRONI 칵테일1" class="cup1 text">
    </div>
    <div class="fade-in">
      <img style="width: 350px; height:450px;" src="./img/칵테일5.png" alt="new STARBUCKS CARAMEL CRUMBLE MOCHA" class="cup2 image">
      <img style="width: 420px; " src="./img/cup2 text.png" alt="NEGRONI 칵테일2" class="cup2 text">
    </div>
    <!-- <div class="fade-in">
      <img src="./img/visual_spoon.png" alt="Spoon" class="spoon" />
    </div> -->
  </div>
 </section>

<!--PROMOTION-->
<div class="promotion">

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img style="width: 819px; height:553px;" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/a3dc2a149613261.62ea8ba1458f7.jpg" alt="1">
        <a href="javascript:void(0)" class="btn">자세히 보기</a>
      </div>
      <div class="swiper-slide">
        <img style="width: 819px; height:553px;" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/c1369a149613261.62ea8b9f966c1.jpg" alt="2">
        <a href="javascript:void(0)" class="btn">자세히 보기</a>
      </div>
      <div class="swiper-slide">
        <img style="width: 819px; height:553px;" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/6dcb2b149613261.62f120888af14.jpg" alt="3">
        <a href="javascript:void(0)" class="btn">자세히 보기</a>
      </div>
      <div class="swiper-slide">
        <img style="width: 819px; height:553px;" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/5d28ab149613261.62ea8ba05e03a.jpg" alt="4">
        <a href="javascript:void(0)" class="btn">자세히 보기</a>
      </div>
      <div class="swiper-slide">
        <img style="width: 819px; height:553px;" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/da8786149613261.62ea8ba05e93d.jpg" alt="5">
        <a href="javascript:void(0)" class="btn">자세히 보기</a>
      </div>
    </div>
  </div>

  <div class="swiper-pagination"></div>

  <div class="swiper-prev">
    <span class="material-symbols-outlined">
      arrow_back
      </span>
  </div>
  <div class="swiper-next">
    <span class="material-symbols-outlined">
      arrow_forward
      </span>
  </div>

  </div>

</section>


    
    

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  

</body>
</html>