<style>
  .profile {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
</style>

{% block content %}
<main class="site-body">
  <div class="main-header">
    <div class="content">
      <div class="fg"></div>
      <h1>각종 칵테일 레시피</h1>
    </div>
  </div>

  <div class="content-list max-content-width">
    <div class="header">
      <h2>목록</h2>
      <a class="cp-ic-button circle newreview" href="{% url 'recipe-create' %}">레시피 작성</a>
    </div>

    {% include 'components/recipe_list.html' with recipes=latest_recipes empty_message="아직 레시피가 없어요" %}
    {% if latest_recipes %}
      <a class="cp-button" href="{% url 'recipe-list' %}"> 전체 레시피 보러가기</a>
    {% endif %}
      {% if user.is_authenticated %}
      <div class="header">
        <h2>팔로잉 유저들의 리뷰</h2>
      </div>
      {% include 'components/recipe_list.html' with recipes=latest_following_recipes empty_message="아직 리뷰가 없어요 :(" %}
      {% if latest_following_recipes %}
        <a class="cp-button" href="{% url 'following-recipe-list' %}">팔로잉 유저 레시피 모아보기</a>
      {% endif %}
    {% endif %}
   
  </div>
</main>
{% endblock content %}
