<style>
  .profile {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
</style>

{% block content %}
<main class="site-body">
  <div class="main-header">
    <div class="content">
      <div class="fg"></div>
      <h1>각종 칵테일 레시피</h1>
    </div>
  </div>

  <div class="content-list max-content-width">
    <div class="header">
      <h2>목록</h2>
      <a class="cp-ic-button circle newreview" href="{% url 'recipe-create' %}">레시피 작성</a>
    </div>

    {% include 'components/recipe_list.html' with recipes=recipes empty_message="아직 레시피가 없어요" %}

      {% if is_paginated %}
        <footer>
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page=1">처음</a></li>
              <li><a href="?page={{ page_obj.previous_page_number }}">이전</a></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <li class="current">{{ num }}</li>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li><a href="?page={{ num }}">{{ num }}</a></li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">다음</a></li>
              <li><a href="?page={{ page_obj.paginator.num_pages }}">마지막</a></li>
            {% endif %}
          </ul>
        </footer>
      {% endif %}
    </article>
  </div>
</main>
{% endblock content %}
