<style>
  .profile {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
</style>

{% load static %} 
{% block title %}{{ profile_user.nickname }} | Cheers{% endblock title %} 
{% block content %}
<main class="site-body">
  <div class="profile-header">
    <div class="content max-content-width">
      <div
        class="cp-avatar large profile-pic"
        style="background-image: url('{{ profile_user.profile_pic.url }}')"
      ></div>
      <div class="info">
        <h1 class="username">{{ profile_user.nickname }}</h1>
        {% if profile_user == user %}
          <a class="edit" href="{% url 'profile-update' %}">
            프로필 수정
          </a>
          &#183;
          <a class="edit" href="{% url 'account_change_password' %}">
            비밀번호 변경
          </a>
        {% endif %}
        {% if profile_user.introduce %}
        <div>
          <p class="cp-chip intro">{{ profile_user.introduce }}</p>
        </div>
        {% endif %}
      </div>
      <div class="follow-section">
        <a href="{% url 'follower-list' profile_user.id %}">
          팔로워 {{ profile_user.followers.count }}
        </a>
        <span class="vert-divider">|</span>
        <a href="{% url 'following-list' profile_user.id %}">
          팔로잉 {{ profile_user.following.count}}
        </a>
      </div>
      {% if user.is_authenticated and user != profile_user %}
      <form class="follow-button" action="{% url 'process-follow' profile_user.id %}" method="post">
        {% csrf_token %}
        {% if is_following %}
        <button class="cp-button small" type="submit">
          언팔로우
        </button>
        {% else %}
        <button class="cp-button small" type="submit">
          팔로우
        </button>
        {% endif %}
     
      </form>
      {% endif %}
    </div>
  </div>

  <div class="content-list max-content-width">
    <div class="header">
      <h2>{{ profile_user.nickname }}</h2>
      {% if user_reviews %}
      <a class="cp-ic-button after circle morerecipe" href="{% url 'user-recipe-list' profile_user.id%}">
        레시피 전체보기
      </a>
      {% endif %}
    </div>
    {% include 'components/recipe_list.html' with recipes=user_recipes empty_message="아직 레시피가 없어요" %}

  </div>
</main>
{% endblock content %}
