<style>
  .profile {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
</style>

{% load static %} 
{% block title %}{{ profile_user.nickname }} | Cheers{% endblock title %} 
{% block content %}
<main class="site-body">
  <div class="profile-header">
    <div class="content max-content-width">
      <div
        class="cp-avatar large profile-pic"
        style="background-image: url('{{ profile_user.profile_pic.url }}')"
      ></div>
      <div class="info">
        <h1 class="username">{{ profile_user.nickname }}</h1>
        {% if profile_user.introduce %}
        <div>
          <p class="cp-chip intro">{{ profile_user.introduce }}</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="content-list max-content-width">
    <div class="header">
      <h2>{{ profile_user.nickname }}</h2>
      <a class="cp-ic-button after circle morerecipe" href="#">
        레시피 전체보기
      </a>
    </div>

    <div class="contents">
      {% for recipe in user_recipes %}
      <a href="{% url 'recipe-detail' recipe.id %}">
        <div class="cp-card content">
          <div
            class="thumb"
            style="background-image: url('{{ recipe.image1.url }}');"
          ></div>
          <div class="body">
            <span class="cp-chip green">{{ recipe.restaurant_name }}</span>
            <h2 class="title">{{ recipe.title }}</h2>
            <date class="date">{{ recipe.dt_created|date:"Y년 n월 j일" }}</date>
            <div class="metadata">
              
              <div class="recipe-author">
                <div
                  class="profile"
                  style="background-image: url('{{ recipe.author.profile_pic.url }}')"
                ></div>
                <span>{{ recipe.author.nickname }}</span>
              </div>
            </div>
          </div>
        </div>
      </a>
      {% empty %}
      <p class="empty">아직 리뷰가 없어요 :(</p>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock content %}
