{% extends 'base.html' %}

{% block body %}
<main class="site-body">
  <div class="main-header" style="margin-top: 200px;">
    <div class="content">
      <div class="fg"></div>
      <div class="header-search">
        <form class="search-form" action="{% url 'search' %}" method="get">
          <input class="search-input" name="query" type="text" placeholder="칵테일, 레시피 등을 검색해보세요" required>
          <button class="cheers-button search-button" type="submit">검색</button>
        </form>
      </div>
    </div>
  </div>
  <div class="content-list max-content-width">
    <div class="header">
      <h2>목록</h2>
      <a class="cheers-ic-button circle newrecipe" href="{% url 'recipe-create' %}">레시피 작성</a>
    </div>

    {% include 'components/recipe_list.html' with recipes=latest_recipes empty_message="아직 레시피가 없어요" %}
    {% if latest_recipes %}
      <a class="cheers-button" href="{% url 'recipe-list' %}"> 전체 레시피 보러가기</a>
    {% endif %}
      {% if user.is_authenticated %}
      <div class="header">
        <h2>팔로잉 유저들의 리뷰</h2>
      </div>
      {% include 'components/recipe_list.html' with recipes=latest_following_recipes empty_message="아직 리뷰가 없어요 :(" %}
      {% if latest_following_recipes %}
        <a class="cheers-button" href="{% url 'following-recipe-list' %}">팔로잉 유저 레시피 모아보기</a>
      {% endif %}
    {% endif %}
   
  </div>
</main>
{% endblock body %}
