{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% block title %}{{ recipe.title }} | Cheers{% endblock title %}

{% block body %}
<main class="site-body">
  <article class="recipe-detail max-content-width">
    <div class="recipe-info">
      <h1 class="title">{{ recipe.title }}</h1>
      <div class="author">
        <a class="recipe-author" href="{% url 'profile' recipe.author.id %}">
          <div class="cheers-avatar" style="background-image: url('{{ recipe.author.profile_pic.url }}')"></div>
          <span>{{ recipe.author.nickname }}</span>
        </a>
      </div>
      <date class="date">{{ recipe.created_at }}</date>
    </div>

    <div class="content">
      <img class="thumb" src="{{ recipe.image1.url }}">
      {% if recipe.image2 %}
      <img class="thumb" src="{{ recipe.image2.url }}">
      {% endif %}
      {% if recipe.image3 %}
      <img class="thumb" src="{{ recipe.image3.url }}">
      {% endif %}
      <p class="content">{{ recipe.content|linebreaksbr }}</p>
    </div>

    <div class="like-comment-block">
      <div class="like-comment-header">
        {% if user.is_authenticated %}
        <form action="{% url 'process-like' recipe_ctype_id recipe.id %}" method="post">
          {% csrf_token %}
          <button class="like-button" type="submit">
            {% if likes_recipes %}
            <img width="21px" src="{% static 'cheers/icons/ic-heart-orange.svg' %}">
            {% else %}
            <img width="21px" src="{% static 'cheers/icons/ic-heart.svg' %}">
            {% endif %}
            <span> 좋아요 {{ recipe.likes.count }}</span>
          </button>
        </form>
        {% else %}
        <a class="like-button" href="{% url 'account_login' %}?next={% url 'recipe-detail' recipe.id %}">
          <img width="21px" src="{% static 'cheers/icons/ic-heart.svg' %}">
          <span> 좋아요 {{ recipe.likes.count }}</span>
        </a>
        {% endif %}
        <div class="comment-info">
          <img src="{% static 'cheers/icons/ic-comment.svg' %}">
          <span> 댓글 {{ recipe.comments.count }}</span>
        </div>
      </div>
      <form class="comment-create-form" action="{% url 'comment-create' recipe.id %}" method="post">
        {% csrf_token %}
        {% if user.is_authenticated %}
        {{ form.content|attr:"placeholder:댓글 내용을 입력해주세요."|add_class:"cheers-input"}}
        <button class="cheers-button small" type="submit">등록</button>
        {% else %}
        <a href="{% url 'account_login' %}?next={% url 'recipe-detail' recipe.id %}">
          {{ form.content|attr:"placeholder:댓글 작성을 위해 로그인을 해주세요."|add_class:"cheers-input"|attr:"disabled" }}
        </a>
        <button class="cheers-button small" type="submit" disabled>등록</button>
        {% endif %}
      </form>
      <div class="comment-list">
        {% for comment in recipe.comments.all %}
          <div class="comment">
            <div class="comment-header">
              <a href="{% url 'profile' comment.author.id %}">
                <div class="author">
                  <div class="cheers-avatar" style="background-image: url('{{ comment.author.profile_pic.url }}')"></div>
                  <span>{{ comment.author.nickname }}</span>
                </div>
              </a>
              {% if user == comment.author %}
                <div class="buttons">
                  <a href="{% url 'comment-delete' comment.id %}">삭제</a>
                  <span> | </span>
                  <a href="{% url 'comment-update' comment.id %}">수정</a>
                </div>
              {% endif %}
            </div>
            <div class="comment-content">
              {{ comment.content|linebreaksbr }}
            </div>
            <div class="comment-footer">
              <div class="comment-date">
                {{ comment.dt_created|date:"Y년 n월 j일" }}
              </div>
              {% if user.is_authenticated %}
              <form action="{% url 'process-like' comment_ctype_id comment.id %}" method="post">
                {% csrf_token %}
                <button class="like-button" type="submit">
                  {% if comment in liked_comments %}
                  <img width="21px" src="{% static 'cheers/icons/ic-heart-orange.svg' %}">
                  {% else %}
                  <img width="21px" src="{% static 'cheers/icons/ic-heart.svg' %}">
                  {% endif %}
                  <span> 좋아요 {{ comment.likes.count }}</span>
                </button>
              </form>
              {% else %}
              <a class="like-button" href="{% url 'account_login' %}?next={% url 'recipe-detail' recipe.id %}">
                <img width="21px" src="{% static 'cheers/icons/ic-heart.svg' %}" alt="like icon">
                <span> 좋아요 {{ comment.likes.count }}</span>
              </a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="footer">
      <a class="back-link" href="{% url 'index' %}">&lt; 목록으로</a>
      {% if recipe.author == user %}
      <div class="buttons">
        <a class="cheers-button warn" href="{% url 'recipe-delete' recipe.id %}">삭제</a>
        <a class="cheers-button secondary" href="{% url 'recipe-update' recipe.id %}">수정</a>
      </div>
      {% endif %}
    </div>
  </article>
</main>
{% endblock body %}
