{% extends 'base.html' %}
{% block title %}{{ profile_user.nickname }} | Cheers {% endblock title %}

{% block body %}
<main class="site-body" style="margin-top: 200px;">
  <div class="content-list max-content-width">
    <div class="header">
      <h2>{{ profile_user.nickname }}님의 리뷰 ({{ paginator.count }})</h2>
    </div>

    {% include 'components/recipe_list.html' with recipes=user_recipes empty_message="아직 레시피가 없어요" %}


    <div class="wrap-pagination">    
      <a class="cheers-ic-button circle backbutton" href="{% url 'profile' profile_user.id %}">프로필로 돌아가기</a>
      {% if is_paginated %}
        {% include 'components/pagination.html' with page_obj=page_obj %}
      {% endif %}
    </div>
  </div>
</main>
{% endblock body %}
