body{
    height: 3000px;
}

a {
    text-decoration: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover{
  background-color: transparent;
  color: #333;
}
.btn.btn--red {
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}
.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}



.visual {
    /* margin-top: 120px; */
    margin-top: 200px;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/b50ba1143299399.6279d209ddb06.jpg");
    /* background-image: url("https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ikBypHnkKLfw/v0/-1x-1.jpg"); */
    background-position: center;
    background-size: cover;
}

.visual .inner {
  height: 800px;
}
.visual .title { 
  /* position: absolute; */
  top: 88px;
  left: -10px;
  width: 470px;
  height: 231px;
}

.visual .title .btn {
  position: absolute;
  margin: 200px;
  margin-left: 110px;
  margin-right: 0;
}

.visual .title {
  position: absolute;
  top: 88px;
  left: -250px;
}

.visual .title_img {
  position: absolute;
  left: 135px;
}


.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
  margin-top: 350px;
  margin-left: 50px;
}

.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -250px;
  width: 500px;
  height: 700px;
}
.visual .cup1.text {
  position: absolute;
  top: 100px;
  right: 65px;
}
.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 350px;
}
.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}
.visual .fade-in {
  opacity: 0;
}


header .badges {
    display: block;
    margin-top: 40px;
    position: absolute;
    top: 132px;
    right: 12px;
}

header .badges .badge {
    display: block;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 4px 4px 10px rgb(0, 0, 0 .15);
    cursor: pointer;
}


/*NOTICE*/
/*NOTICE LINE*/
.notice .notice-line {
    position: relative;
}

.notice .notice-line .bg-left {
    width: 50%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
}

.notice .notice-line .bg-right {
    width: 50%;
    height: 100%;
    background-color: #f6f5ef;
    position: absolute;
    top: 0;
    right: 0;
}
  
.notice .notice-line .inner {
    height: 62px;
    z-index: 1;
    display: flex;
}
  
.notice .notice-line .inner__left {
    width: 60%;
    height: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
}

.notice .notice-line .inner__left h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    margin-right: 20px;
    margin-bottom: 0;
}

  .notice .notice-line .inner__left .swiper-container {
    height: 62px;
    flex-grow: 1;
  }
  .notice .notice-line .inner__left .swiper-slide {
    height: 62px;
    display: flex;
    align-items: center;
  }
  .notice .notice-line .inner__left .swiper-slide a {
    color: #fff;
  }
  .notice .notice-line .inner__left .notice-line__more {
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notice .notice-line .inner__left .notice-line__more .material-icons {
    color: #fff;
    font-size: 30px;
  }
  .notice .notice-line .inner__right {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .notice .notice-line .inner__right h2 {
    font-size: 17px;
    font-weight: 700;
  }
  .notice .notice-line .inner__right .toggle-promotion {
    width: 62px;
    height: 62px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notice .notice-line .inner__right .toggle-promotion .material-icons {
    font-size: 30px;
  }

/*PROMOTION*/
.notice .promotion {
    /*width: auto;*/
    height: 693px;
    background-color: #000;
    position: relative;
    overflow: hidden;
    transition: height .4s;
  }
  .notice .promotion.hide {
    height: 0;
  }
  .notice .promotion .swiper-container {
    /* 819px 슬라이드 3개와 그 사이 여백 10px씩 = 2477px */
    width: calc(819px * 3 + 20px);
    height: 553px;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: calc((819px * 3 + 20px) / -2);
  }
  .notice .promotion .swiper-slide {
    position: relative;
    opacity: .5;
    transition: opacity 1s;  
  }
  .notice .promotion .swiper-slide-active {
    opacity: 1;
  }
  .notice .promotion .swiper-slide .btn {
    /*width: 130px;*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .notice .promotion .swiper-pagination{
    bottom: 40px;
    left: 0;
    right: 0;
    z-index: 0;
  }
  .notice .promotion .swiper-pagination .swiper-pagination-bullet{
    background-color: transparent;
    background-image: url("../images/promotion_slide_pager.png");
    width: 12px;
    height: 12px;
    margin-right: 6px;
    outline: none;
  }
  .notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child{
    margin-right: 0;
  }
  .notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
    background-image: url("../images/promotion_slide_pager_on.png");
  }
  .notice .promotion .swiper-prev,
  .notice .promotion .swiper-next {
    width: 42px;
    height: 42px;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    z-index: 1;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
  }
  .notice .promotion .swiper-prev{
    left: 50%;
    margin-left: -400px;
  }
  .notice .promotion .swiper-next{
    right: 50%;
    margin-right: -395px;
  }
  .notice .promotion .swiper-prev:hover,
  .notice .promotion .swiper-next:hover {
    background-color: #333;
    color: #fff;
  }